.loader {
  background: #000000;
  background: radial-gradient(#220735, #25063a);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  height: 120px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 100px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 200px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 180px; /* Adjusted height */
  width: 180px; /* Adjusted width */
  top: 15px; /* Adjusted top */
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 152px; /* Adjusted height */
  width: 152px; /* Adjusted width */
  top: 30px; /* Adjusted top */
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 124px; /* Adjusted height */
  width: 124px; /* Adjusted width */
  top: 45px; /* Adjusted top */
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 96px; /* Adjusted height */
  width: 96px; /* Adjusted width */
  top: 60px; /* Adjusted top */
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 68px; /* Adjusted height */
  width: 68px; /* Adjusted width */
  top: 75px; /* Adjusted top */
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
